ServiceFusionAndSumoQuotesIntegration_1_0_0_12_unmanaged/Workflows/SendEmailToClientSupport-E3169D51-A93A-EF11-A316-000D3AC9B1D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr570_ExcelOnlineServiceFusionSumoQuoteIntegration"
        },
        "api": {
          "name": "shared_excelonline"
        }
      },
      "shared_onedrive": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr570_sharedonedrive_0881d"
        },
        "api": {
          "name": "shared_onedrive"
        }
      },
      "shared_gmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr570_sharedgmail_c50b8"
        },
        "api": {
          "name": "shared_gmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {},
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "emailtype": {
                  "type": "string"
                },
                "flowtype": {
                  "type": "string"
                },
                "supportEmailContent": {
                  "type": "object",
                  "properties": {
                    "flowName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "failedAction": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "failureMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "flowRunURL": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "SSFileName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "EstimateNo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "LogFilePath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "clientEmailContent": {
                  "type": "object",
                  "properties": {
                    "estimateNo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "action": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "actions": {
        "If_Email_Type_Is_Support": {
          "actions": {
            "Get_Support_Email_Config_Details": {
              "metadata": {
                "E550BD3B3E47E33!294": "/Config/EmailConfig.xlsx"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "file": "E550BD3B3E47E33!294",
                  "table": "{9A9E77BF-8CC9-4F0D-B415-086AC4ABD62B}",
                  "idColumn": "ID",
                  "id": "S01"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonline",
                  "operationId": "GetItem",
                  "connectionName": "shared_excelonline"
                }
              }
            },
            "If_response_contains_SS_path": {
              "actions": {
                "Get_file_metadata_using_path": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "path": "/ErrorSS/@{triggerBody()?['supportEmailContent']?['EstimateNo']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                      "operationId": "GetFileMetadataByPath",
                      "connectionName": "shared_onedrive"
                    }
                  }
                },
                "Find_files_in_folder": {
                  "runAfter": {
                    "Get_file_metadata_using_path": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "query": "@triggerBody()?['supportEmailContent']?['SSFileName']",
                      "id": "@outputs('Get_file_metadata_using_path')?['body/Id']",
                      "findMode": "Pattern",
                      "maxFileCount": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                      "operationId": "FindFiles",
                      "connectionName": "shared_onedrive"
                    }
                  }
                },
                "If_SS_file_Found": {
                  "actions": {
                    "Get_file_content_-_SS": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "id": "@body('Find_files_in_folder')?[0]?['Id']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                          "operationId": "GetFileContent",
                          "connectionName": "shared_onedrive"
                        }
                      }
                    },
                    "Send_Email_To_Support-With_SS,_Log_File": {
                      "runAfter": {
                        "Get_file_content_using_path_-_LogFile-1": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@body('Get_Support_Email_Config_Details')?['EmailAddress']",
                          "emailMessage/Subject": "@body('Get_Support_Email_Config_Details')?['EmailSubject']",
                          "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">This Email is to notify you about a flow run failure.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Here are the details of what went wrong:</p>\n                     \n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Name</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['flowName']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Type</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['flowtype']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed Action</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failedAction']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failure Message</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failureMessage']}</small></td>\n                            \n\n                            </tr><tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; margin-top: 0.1rem;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"@{triggerBody()?['supportEmailContent']?['flowRunURL']}\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 12px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Go to Flow Run</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n",
                          "emailMessage/Attachments": [
                            {
                              "Name": "@{body('Find_files_in_folder')?[0]?['Name']}",
                              "ContentBytes": "@body('Get_file_content_-_SS')"
                            },
                            {
                              "Name": "@{substring(triggerBody()?['supportEmailContent']?['LogFilePath'], add(lastIndexOf(triggerBody()?['supportEmailContent']?['LogFilePath'], '/'),1))}",
                              "ContentBytes": "@body('Get_file_content_using_path_-_LogFile-1')"
                            }
                          ]
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                          "operationId": "SendEmailV2",
                          "connectionName": "shared_gmail"
                        }
                      }
                    },
                    "Send_Email_To_Support-With_SS,_No_Log_File": {
                      "runAfter": {
                        "Get_file_content_using_path_-_LogFile-1": [
                          "TimedOut",
                          "Failed"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@body('Get_Support_Email_Config_Details')?['EmailAddress']",
                          "emailMessage/Subject": "@body('Get_Support_Email_Config_Details')?['EmailSubject']",
                          "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">This Email is to notify you about a flow run failure.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Here are the details of what went wrong:</p>\n                     \n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Name</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['flowName']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Type</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['flowtype']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed Action</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failedAction']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failure Message</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failureMessage']}</small></td>\n                            \n\n                            </tr><tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; margin-top: 0.1rem;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"@{triggerBody()?['supportEmailContent']?['flowRunURL']}\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 12px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Go to Flow Run</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n",
                          "emailMessage/Attachments": [
                            {
                              "Name": "@{body('Find_files_in_folder')?[0]?['Name']}",
                              "ContentBytes": "@body('Get_file_content_-_SS')"
                            }
                          ]
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                          "operationId": "SendEmailV2",
                          "connectionName": "shared_gmail"
                        }
                      }
                    },
                    "Get_file_content_using_path_-_LogFile-1": {
                      "runAfter": {
                        "Get_file_content_-_SS": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "path": "@triggerBody()?['supportEmailContent']?['LogFilePath']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                          "operationId": "GetFileContentByPath",
                          "connectionName": "shared_onedrive"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Find_files_in_folder": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_Email_To_Support-No_SS,_With_Log": {
                        "runAfter": {
                          "Get_file_content_using_path_-_LogFile-3": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/To": "@body('Get_Support_Email_Config_Details')?['EmailAddress']",
                            "emailMessage/Subject": "@body('Get_Support_Email_Config_Details')?['EmailSubject']",
                            "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">This Email is to notify you about a flow run failure.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Here are the details of what went wrong:</p>\n                     \n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Name</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['flowName']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Type</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['flowtype']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed Action</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failedAction']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failure Message</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failureMessage']}</small></td>\n                            \n\n                            </tr><tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; margin-top: 0.1rem;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"@{triggerBody()?['supportEmailContent']?['flowRunURL']}\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 12px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Go to Flow Run</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n",
                            "emailMessage/Attachments": [
                              {
                                "Name": "@{substring(triggerBody()?['supportEmailContent']?['LogFilePath'], add(lastIndexOf(triggerBody()?['supportEmailContent']?['LogFilePath'], '/'),1))}",
                                "ContentBytes": "@body('Get_file_content_using_path_-_LogFile-3')"
                              }
                            ]
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                            "operationId": "SendEmailV2",
                            "connectionName": "shared_gmail"
                          }
                        }
                      },
                      "Get_file_content_using_path_-_LogFile-3": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "path": "@triggerBody()?['supportEmailContent']?['LogFilePath']"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                            "operationId": "GetFileContentByPath",
                            "connectionName": "shared_onedrive"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Find_files_in_folder'))",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Support_Email_Config_Details": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_Email_To_Support_with_Log_File_Attached": {
                    "runAfter": {
                      "Get_file_content_using_path_-_LogFile-2": [
                        "Succeeded"
                      ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "@body('Get_Support_Email_Config_Details')?['EmailAddress']",
                        "emailMessage/Subject": "@body('Get_Support_Email_Config_Details')?['EmailSubject']",
                        "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">This Email is to notify you about a flow run failure.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Here are the details of what went wrong:</p>\n                     \n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Name</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['flowName']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Type</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['flowtype']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed Action</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failedAction']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failure Message</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failureMessage']}</small></td>\n                            \n\n                            </tr><tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; margin-top: 0.1rem;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"@{triggerBody()?['supportEmailContent']?['flowRunURL']}\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 12px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Go to Flow Run</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n",
                        "emailMessage/Attachments": [
                          {
                            "ContentBytes": "@body('Get_file_content_using_path_-_LogFile-2')",
                            "Name": "@substring(triggerBody()?['supportEmailContent']?['LogFilePath'], add(lastIndexOf(triggerBody()?['supportEmailContent']?['LogFilePath'], '/'),1))"
                          }
                        ]
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                        "operationId": "SendEmailV2",
                        "connectionName": "shared_gmail"
                      }
                    }
                  },
                  "Get_file_content_using_path_-_LogFile-2": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "path": "@triggerBody()?['supportEmailContent']?['LogFilePath']"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                        "operationId": "GetFileContentByPath",
                        "connectionName": "shared_onedrive"
                      }
                    }
                  },
                  "Send_Email_To_Support-No_Log_File": {
                    "runAfter": {
                      "Get_file_content_using_path_-_LogFile-2": [
                        "TimedOut",
                        "Failed"
                      ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "@body('Get_Support_Email_Config_Details')?['EmailAddress']",
                        "emailMessage/Subject": "@body('Get_Support_Email_Config_Details')?['EmailSubject']",
                        "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">This Email is to notify you about a flow run failure.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Here are the details of what went wrong:</p>\n                     \n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Name</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['flowName']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Flow Type</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['flowtype']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed Action</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failedAction']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failure Message</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['supportEmailContent']?['failureMessage']}</small></td>\n                            \n\n                            </tr><tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(255, 184, 184);\"><small>Failed DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; margin-top: 0.1rem;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"@{triggerBody()?['supportEmailContent']?['flowRunURL']}\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 12px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Go to Flow Run</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                        "operationId": "SendEmailV2",
                        "connectionName": "shared_gmail"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['supportEmailContent']?['SSFileName']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Get_Client_Email_Config_Details": {
                "metadata": {
                  "E550BD3B3E47E33!294": "/Config/EmailConfig.xlsx"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "file": "E550BD3B3E47E33!294",
                    "table": "{C85AA05C-7634-4880-AFED-75E27A3800D2}",
                    "idColumn": "ID",
                    "id": "C01"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonline",
                    "operationId": "GetItem",
                    "connectionName": "shared_excelonline"
                  }
                }
              },
              "Send_Email_to_Client": {
                "runAfter": {
                  "Get_Client_Email_Config_Details": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "@body('Get_Client_Email_Config_Details')?['EmailAddress']",
                    "emailMessage/Subject": "@body('Get_Client_Email_Config_Details')?['EmailSubject']",
                    "emailMessage/Body": "\n\n  \n    \n    \n    <title>gNxt Systems Support Email</title>\n    <style>\n  \n    @media only screen and (max-width: 620px) {\n      table[class=body] h1 {\n        font-size: 28px !important;\n        margin-bottom: 10px !important;\n      }\n      table[class=body] p,\n            table[class=body] ul,\n            table[class=body] ol,\n            table[class=body] td,\n            table[class=body] span,\n            table[class=body] a {\n        font-size: 16px !important;\n      }\n      table[class=body] .wrapper,\n            table[class=body] .article {\n        padding: 10px !important;\n      }\n      table[class=body] .content {\n        padding: 0 !important;\n      }\n      table[class=body] .container {\n        padding: 0 !important;\n        width: 100% !important;\n      }\n      table[class=body] .main {\n        border-left-width: 0 !important;\n        border-radius: 0 !important;\n        border-right-width: 0 !important;\n      }\n      table[class=body] .btn table {\n        width: 100% !important;\n      }\n      table[class=body] .btn a {\n        width: 100% !important;\n      }\n      table[class=body] .img-responsive {\n        height: auto !important;\n        max-width: 100% !important;\n        width: auto !important;\n      }\n    }\n\n    /* -------------------------------------\n        PRESERVE THESE STYLES IN THE HEAD\n    ------------------------------------- */\n    @media all {\n      .ExternalClass {\n        width: 100%;\n      }\n      .ExternalClass,\n            .ExternalClass p,\n            .ExternalClass span,\n            .ExternalClass font,\n            .ExternalClass td,\n            .ExternalClass div {\n        line-height: 100%;\n      }\n      .apple-link a {\n       \n        font-family: inherit !important;\n        font-size: inherit !important;\n        font-weight: inherit !important;\n        line-height: inherit !important;\n        text-decoration: none !important;\n      }\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n        font-size: inherit;\n        font-family: inherit;\n        font-weight: inherit;\n        line-height: inherit;\n      }\n      .btn-primary table td:hover {\n        background-color: #34495e !important;\n      }\n      .btn-primary a:hover {\n        background-color: #34495e !important;\n        border-color: #34495e !important;\n      }\n    }\n    </style>\n  \n  \n    <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;\">\n      <tbody><tr>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;\">\n          <div style=\"text-align: center;\n          background-color: rgb(180, 177, 177);\n          margin: 0;\n          padding: 0;\">\n            <img src=\"https://www.gnxtsystems.com/wp-content/uploads/2021/10/Gnxt__newLogo.png\" alt=\"\" style=\"width: 70%;\">\n          </div>\n          \n          <div style=\"box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;\">\n\n           \n            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;\">\n\n              <!-- START MAIN CONTENT AREA -->\n              <tbody><tr>\n                <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\">\n                  <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                    <tbody><tr>\n                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">Hi @{body('Get_Client_Email_Config_Details')?['UserName']},</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">I hope this message finds you well.</p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                          We regret to inform you that a recent run of our Power Automate Flow has encountered \n                          an issue and has failed to complete successfully.\n                        </p>\n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                          Here are the details of what went wrong:\n                        </p>\n                        <table style=\"border: 1px solid #34495e;\n                        border-radius: 2%;\n                        margin-bottom: .4rem;\n                        width: 100%;\n                        border-collapse: collapse;\">\n\n                          <tbody>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(203, 253, 196);\"><small>Estimate No</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['clientEmailContent']?['estimateNo']}</small></td>\n                            </tr>\n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(203, 253, 196);\"><small>Error Details</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['clientEmailContent']?['error']}</small></td>\n                            </tr>\n            \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(203, 253, 196);\"><small>Action to Take</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{triggerBody()?['clientEmailContent']?['action']}</small></td>\n                            </tr>    \n                            <tr style=\"padding: 0.2rem; border: 1px solid grey;\">\n                                <th style=\"background-color: rgb(203, 253, 196);\"><small>Error DateTime</small></th>\n                                <td style=\"padding: 0.2rem; border: 1px solid grey;\"><small>@{utcNow()}</small></td>\n                            \n                        </tr></tbody>\n                        </table>\n                       \n                      \n                        <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"font-family: sans-serif; font-size: 12px; vertical-align: top; padding-bottom: 10px;\">\n                                <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-family: sans-serif; font-size: 12px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;\"> <a href=\"mailto:ankit@gnxtsystems.com\" style=\"display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 9px 20px; text-transform: capitalize; border-color: #3498db;\">Contact Support</a> </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        \n                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;\">\n                        <small>\n                          Best Regards,<br>\n                        gNxt Systems Support Team</small></p><small>\n                        </small>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n\n            <!-- END MAIN CONTENT AREA -->\n            </tbody></table>\n\n            <!-- START FOOTER -->\n            <div style=\"clear: both; Margin-top: 10px; text-align: center; width: 100%; background-color: #3498db;\">\n              <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\">\n                <tbody><tr>\n                  <td style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;\">\n                    <span style=\"color: white; font-size: 12px; text-align: center;\">gNxt Systems © 2024</span>\n                    \n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <span style=\"color: white;\">\n                      <address><small>C-56/39, 4th Floor, Netedge Tower, Sector-62, Noida-201309</small></address>\n                    </span>\n                  </td>\n                </tr>\n              </tbody></table>\n            </div>\n            <!-- END FOOTER -->\n\n          <!-- END CENTERED WHITE CONTAINER -->\n          </div>\n        </td>\n        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\">&nbsp;</td>\n      </tr>\n    </tbody></table>\n  \n\n"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                    "operationId": "SendEmailV2",
                    "connectionName": "shared_gmail"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "contains": [
                  "@triggerBody()?['emailtype']",
                  "support"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "cda3d828-ff87-41ee-aa0e-f4550684da98"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}