ServiceFusionAndSumoQuotesIntegration_1_0_0_12_unmanaged/Workflows/UpdateSignedReportDetailsOnServiceFusion-ACB3E4D6-153D-EF11-A316-000D3AC9B1D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedrive": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr570_sharedonedrive_0881d"
        },
        "api": {
          "name": "shared_onedrive"
        }
      },
      "shared_excelonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr570_ExcelOnlineServiceFusionSumoQuoteIntegration"
        },
        "api": {
          "name": "shared_excelonline"
        }
      },
      "shared_uiflow-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_shareduiflow_f8a57"
        },
        "api": {
          "name": "shared_uiflow"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d732900f-1d90-4841-889a-0091c36d2eac"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Parse_And_Store_Signed_Option_From_Report": {
          "actions": {
            "If_Tier1_Is_Selected": {
              "actions": {
                "Set_variable_SelectedEstimate_to_Tier1": {
                  "runAfter": {
                    "Log_Text_-_10": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6ad9dfd7-10e3-4b29-9eca-1b69784a70e1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SelectedEstimate",
                    "value": "Tier1"
                  }
                },
                "Log_Text_-_10": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Selected Option Found - Tier1"
                    }
                  }
                }
              },
              "runAfter": {
                "Log_Text_-_8": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['EstimateDetailsPage']?['Tier1']?['selected']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "1eb75371-7837-48d5-b170-b7bbef119edf"
              },
              "type": "If"
            },
            "If_Tier2_Is_Selected": {
              "actions": {
                "Set_variable_SelectedEstimate_to_Tier2": {
                  "runAfter": {
                    "Log_Text_-_11": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e54d8b8e-af06-4a82-a93c-e6ee4d1a16af"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SelectedEstimate",
                    "value": "Tier2"
                  }
                },
                "Log_Text_-_11": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Selected Option Found - Tier2"
                    }
                  }
                }
              },
              "runAfter": {
                "If_Tier1_Is_Selected": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['EstimateDetailsPage']?['Tier2']?['selected']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "45c87334-f66f-43b1-8992-67ca6fa3295a"
              },
              "type": "If"
            },
            "If_Tier3_Is_Selected": {
              "actions": {
                "Set_variable_SelectedEstimate_to_Tier3": {
                  "runAfter": {
                    "Log_Text_-_12": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4edf735-9bc5-4591-8fcd-0009a5597aff"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SelectedEstimate",
                    "value": "Tier3"
                  }
                },
                "Log_Text_-_12": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Selected Option Found - Tier3"
                    }
                  }
                }
              },
              "runAfter": {
                "If_Tier2_Is_Selected": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['EstimateDetailsPage']?['Tier3']?['selected']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "21ed0d35-5ebc-4ffb-b9ed-30a79d0a4b8d"
              },
              "type": "If"
            },
            "If_SelectedOption_Is_Null_Or_Empty": {
              "actions": {
                "Send_Email_-_Support_-_Failed_To_Get_Choosen_Option": {
                  "runAfter": {
                    "Create_file_LogText_On_OneDrive_-_Selected_Option_Not_Found": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "55bb526d-fec5-446e-956f-ad031f283d07"
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@body('Get_Config_Data')?['EmailTriggerURL']",
                    "method": "POST",
                    "body": {
                      "emailtype": "support",
                      "flowtype": "cloud flow",
                      "supportEmailContent": {
                        "flowName": "@{workflow()?['tags']?['flowDisplayName']}",
                        "failedAction": "Getting Selected Estimate Option",
                        "failureMessage": "Failed To Get the choosen option in signed report details",
                        "flowRunURL": "@{concat('https://make.powerautomate.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}",
                        "LogFilePath": "@{variables('LogFilePath')}"
                      },
                      "clientEmailContent": {}
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Log_Text_-_13": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Error",
                      "@variables('LogTextColNames')?[4]": "Failed To Find Any Selected Option"
                    }
                  }
                },
                "Create_CSV_table_-_No_Selected_Option_Found": {
                  "runAfter": {
                    "Log_Text_-_13": [
                      "Succeeded"
                    ]
                  },
                  "type": "Table",
                  "inputs": {
                    "from": "@variables('LogText')",
                    "format": "CSV"
                  }
                },
                "Create_file_LogText_On_OneDrive_-_Selected_Option_Not_Found": {
                  "runAfter": {
                    "Create_CSV_table_-_No_Selected_Option_Found": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "folderPath": "/Logs/Report Signed",
                      "name": "@substring(variables('LogFilePath'), add(lastIndexOf(variables('LogFilePath'), '/'),1))",
                      "body": "@body('Create_CSV_table_-_No_Selected_Option_Found')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                      "operationId": "CreateFile",
                      "connectionName": "shared_onedrive"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "If_Tier3_Is_Selected": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(variables('SelectedEstimate'))",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "f8c6a970-cff2-41ba-80ce-4d0b7815733d"
              },
              "type": "If"
            },
            "If_LeafPro_Options_Selection_Not_empty": {
              "actions": {
                "Select_Name,_Qty,_Price,_Description": {
                  "runAfter": {
                    "Set_variable_IsLeafProSelected_to_true": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3172cc2c-966d-4e53-9138-1af1088e857e"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('LeafPro_Selected_Options')",
                    "select": {
                      "Name": "@item()?['PriceDetailName']",
                      "Qty": "@item()?['Quantity']",
                      "Price": "@item()?['UnitPrice']",
                      "Description": "@item()?['Description']"
                    }
                  }
                },
                "Create_CSV_table": {
                  "runAfter": {
                    "Select_Name,_Qty,_Price,_Description": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5cd84f28-a12a-4b32-bef7-05675a234ac0"
                  },
                  "type": "Table",
                  "inputs": {
                    "from": "@body('Select_Name,_Qty,_Price,_Description')",
                    "format": "CSV"
                  }
                },
                "Create_CSV_file_for_leafpro_options": {
                  "runAfter": {
                    "Create_CSV_table": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4f62f738-5f21-4c21-84a7-d52c775469e4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "folderPath": "/EstimateInfo/@{variables('EstimateNo')}",
                      "name": "leafpro.csv",
                      "body": "@body('Create_CSV_table')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                      "operationId": "CreateFile",
                      "connectionName": "shared_onedrive"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Set_variable_IsLeafProSelected_to_true": {
                  "runAfter": {
                    "Log_Text_-_14": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "IsLeafProSelected",
                    "value": true
                  }
                },
                "Log_Text_-_14": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Additional Option Selected - True"
                    }
                  }
                },
                "Log_Text_-_16": {
                  "runAfter": {
                    "Create_CSV_file_for_leafpro_options": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Additional Options CSV Created Successfully"
                    }
                  }
                }
              },
              "runAfter": {
                "LeafPro_Selected_Options": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Log_Text_-_15": {
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "LogText",
                      "value": {
                        "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                        "@variables('LogTextColNames')?[1]": "Cloud Flow",
                        "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                        "@variables('LogTextColNames')?[3]": "Info",
                        "@variables('LogTextColNames')?[4]": "Additional Options Selected - False"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(outputs('LeafPro_Selected_Options'))",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "aa9e2d8e-9029-4dee-81b5-c414848113de"
              },
              "type": "If"
            },
            "LeafPro_Selected_Options": {
              "runAfter": {
                "If_SelectedOption_Is_Null_Or_Empty": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9527236f-2ab1-4672-88d1-257d5c1cd739"
              },
              "type": "Compose",
              "inputs": "@triggerBody()?['SignedSumoReportDetail']?['AuthorizationItems']"
            },
            "Get_Signed_Report_PDF_Download_URL": {
              "runAfter": {
                "Log_Text_-_18": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7fd8069-a8c1-44fa-8966-dcbe3bbd1136"
              },
              "type": "Http",
              "inputs": {
                "uri": "https://api.sumoquote.com/v1/Project/@{triggerBody()?['ProjectId']}/Report/@{triggerBody()?['Id']}/download",
                "method": "GET",
                "headers": {
                  "Content-type": "application/json",
                  "sq-api-key": "@{body('Get_Config_Data')?['SumoQuoteAPIKey']}"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 2,
                  "interval": "PT10S",
                  "minimumInterval": "PT10S",
                  "maximumInterval": "PT1M"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                },
                "secureData": {
                  "properties": [
                    "inputs"
                  ]
                }
              }
            },
            "If_SendEmailInvoice_is_Yes": {
              "actions": {
                "Set_variable_InvoiceOnEmail_to_True": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "InvoiceOnEmail",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "If_LeafPro_Options_Selection_Not_empty": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_InvoiceOnEmail_to_False": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "InvoiceOnEmail",
                      "value": false
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@toLower(body('Get_Config_Data')?['SendEmailInvoice'])",
                      "yes"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "If_SendSMSInvoice_is_Yes": {
              "actions": {
                "Set_variable_InvoiceOnSMS_to_True": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "InvoiceOnSMS",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "If_LeafPro_Options_Selection_Not_empty": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_InvoiceOnSMS_to_False": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "InvoiceOnSMS",
                      "value": false
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@toLower(body('Get_Config_Data')?['SendSMSInvoice'])",
                      "yes"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Selected_QuoteOptions_Items": {
              "runAfter": {
                "Log_Text_-_9": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@triggerBody()?['SignedSumoReportDetail']?['QuoteDetailItems']"
            },
            "Find_If_Any_Item_contains_CON_Item": {
              "runAfter": {
                "Filter_Line_Items_Non_Zero_Qty_and_price": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Filter_Line_Items_Non_Zero_Qty_and_price')",
                "where": "@equals(contains(toLower(item()?['PriceDetailName']), 'con'),true)"
              }
            },
            "If_CON_Item_Found": {
              "actions": {
                "Set_variable_IsContractor_to_True": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "IsContractor",
                    "value": true
                  }
                }
              },
              "runAfter": {
                "Find_If_Any_Item_contains_CON_Item": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_Selected_Additional_Items": {
                    "type": "Compose",
                    "inputs": "@triggerBody()?['SignedSumoReportDetail']?['AuthorizationItems']"
                  },
                  "Filter_array_If_any_CON_items_In_AdditOpt": {
                    "runAfter": {
                      "Filter_AdditOpt_Line_Items_Non_Zero_Qty_and_price": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('Get_Selected_Additional_Items')",
                      "where": "@equals(or(contains(toLower(item()?['PriceDetailName']), '(con)'), startsWith(trim(toLower(item()?['PriceDetailName'])), 'con')),true)"
                    }
                  },
                  "If_CON_Item_is_Found_in_AdditOpt": {
                    "actions": {
                      "Set_variable__-_IsContractor_to_True": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "IsContractor",
                          "value": true
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_array_If_any_CON_items_In_AdditOpt": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('Filter_array_If_any_CON_items_In_AdditOpt'))",
                            0
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  },
                  "Filter_AdditOpt_Line_Items_Non_Zero_Qty_and_price": {
                    "runAfter": {
                      "Get_Selected_Additional_Items": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('Get_Selected_Additional_Items')",
                      "where": "@equals(or(equals(item()?['Quantity'], 0),equals(item()?['UnitPrice'], 0)),false)"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Find_If_Any_Item_contains_CON_Item'))",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Update_IsContractor_Field": {
              "runAfter": {
                "If_CON_Item_Found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "E550BD3B3E47E33!109": "/Estimates/FetchedEstimateDetails.xlsx"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "file": "E550BD3B3E47E33!109",
                  "table": "{EFFBB888-A54E-422B-A988-4DCDAA21FA1B}",
                  "idColumn": "EstimateNo",
                  "id": "@variables('EstimateNo')",
                  "item/IsContractor": "@variables('IsContractor')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonline",
                  "operationId": "PatchItem",
                  "connectionName": "shared_excelonline"
                }
              }
            },
            "Download_Signed_Report_PDF": {
              "runAfter": {
                "Get_Signed_Report_PDF_Download_URL": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@body('Get_Signed_Report_PDF_Download_URL')?['Data']?['FileUrl']",
                "method": "GET",
                "headers": {
                  "Content-type": "application/pdf"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Upload_Signed_PDF_to_OneDrive": {
              "runAfter": {
                "Download_Signed_Report_PDF": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "folderPath": "/EstimateInfo/@{variables('EstimateNo')}",
                  "name": "@concat(variables('EstimateNo'), '_SQ_SignedReport', '.pdf')",
                  "body": "@body('Download_Signed_Report_PDF')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
                  "operationId": "CreateFile",
                  "connectionName": "shared_onedrive"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Filter_Line_Items_Non_Zero_Qty_and_price": {
              "runAfter": {
                "Selected_QuoteOptions_Items": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Selected_QuoteOptions_Items')",
                "where": "@equals(or(equals(item()?['Quantity'], 0),equals(item()?['UnitPrice'], 0)),false)"
              }
            },
            "Log_Text_-_8": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Getting Selected Quote Option Details"
                }
              }
            },
            "Log_Text_-_9": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Checking If CON or RES Based On Option Selection"
                }
              }
            },
            "Log_Text_-_17": {
              "runAfter": {
                "Update_IsContractor_Field": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Checked If Customer is Contractor - @{variables('IsContractor')}"
                }
              }
            },
            "Log_Text_-_18": {
              "runAfter": {
                "If_LeafPro_Options_Selection_Not_empty": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Getting Signed Report PDF file from SumoQuote"
                }
              }
            },
            "Log_Text_-_19": {
              "runAfter": {
                "Upload_Signed_PDF_to_OneDrive": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Signed Report PDF Download and stored on OneDrive"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_InvoiceOnEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6004dc76-3312-4963-90c1-9dc44904c43b"
          },
          "type": "Scope"
        },
        "Initialize_variable_SelectedEstimate": {
          "runAfter": {
            "Debug_Mode_Check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "190822e0-57d9-4740-b71a-f96f14320482"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SelectedEstimate",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_and_set_variable_EstimateNo": {
          "runAfter": {
            "Initialize_variable_SelectedEstimate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3639359-7cf4-4bb9-b7a9-83e7a939c373"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EstimateNo",
                "type": "string",
                "value": "@{triggerBody()?['ProjectIdDisplay']}"
              }
            ]
          }
        },
        "Initialize_variable_IsLeafProSelected": {
          "runAfter": {
            "Initialize_and_set_variable_EstimateNo": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsLeafProSelected",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_variable_IsContractor": {
          "runAfter": {
            "Initialize_variable_IsLeafProSelected": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsContractor",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Call_Desktop_flow": {
          "actions": {
            "IF_status_is_Non-empty": {
              "actions": {
                "Update__Status_For_CurrentEstimateNo": {
                  "metadata": {
                    "E550BD3B3E47E33!109": "/Estimates/FetchedEstimateDetails.xlsx"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "file": "E550BD3B3E47E33!109",
                      "table": "{EFFBB888-A54E-422B-A988-4DCDAA21FA1B}",
                      "idColumn": "EstimateNo",
                      "id": "@variables('EstimateNo')",
                      "item/Status": "@body('Run_a_flow_built_with_Power_Automate_for_desktop')?['Status']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonline",
                      "operationId": "PatchItem",
                      "connectionName": "shared_excelonline"
                    }
                  }
                },
                "Log_Text_-_22": {
                  "runAfter": {
                    "Update__Status_For_CurrentEstimateNo": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Error",
                      "@variables('LogTextColNames')?[4]": "Estimate Status Updated - @{body('Run_a_flow_built_with_Power_Automate_for_desktop')?['Status']}"
                    }
                  }
                }
              },
              "runAfter": {
                "Log_Text_-_21": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(body('Run_a_flow_built_with_Power_Automate_for_desktop')?['Status'])",
                      "@false"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Run_a_flow_built_with_Power_Automate_for_desktop": {
              "runAfter": {
                "Log_Text_-_23": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "uiFlowId": "0f8f52ec-b09d-4893-bd44-27799e5cfab0",
                  "runMode": "unattended",
                  "item/EstimateNo": "@variables('EstimateNo')",
                  "item/SelectedEstimate": "@variables('SelectedEstimate')",
                  "item/IsLeafProSelected": "@variables('IsLeafProSelected')",
                  "item/IsContractor": "@variables('IsContractor')",
                  "item/EmailInvoiceTemplate": "@body('Get_Config_Data')?['EmailTemplateName']",
                  "item/TextMessageInvoiceTemplate": "@body('Get_Config_Data')?['SMSTemplateName']",
                  "item/InvoicePercent": "@float(body('Get_Config_Data')?['InvocePercent'])",
                  "item/SendEmailInvoce": "@variables('InvoiceOnEmail')",
                  "item/SendSMSInvoice": "@variables('InvoiceOnSMS')",
                  "item/JobStatus": "@body('Get_Config_Data')?['JobStatusToSet']",
                  "item/AttchdInvceTempltName": "@body('Get_Config_Data')?['AttchdInvceTempltName']",
                  "item/EncPwd": "@body('Get_Config_Data')?['SFPwd']",
                  "item/EncKey": "@body('Get_Config_Data')?['PwKey']",
                  "item/EmailTriggerURL": "@body('Get_Config_Data')?['EmailTriggerURL']",
                  "item/LogFilePath": "@variables('LogFilePath')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_uiflow",
                  "operationId": "RunUIFlow_V2",
                  "connectionName": "shared_uiflow-2"
                }
              }
            },
            "Send_Email_-_Support_-_Error_In_Desktop_Flow_Run": {
              "runAfter": {
                "Run_a_flow_built_with_Power_Automate_for_desktop": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@body('Get_Config_Data')?['EmailTriggerURL']",
                "method": "POST",
                "body": {
                  "emailtype": "support",
                  "flowtype": "cloud flow",
                  "supportEmailContent": {
                    "flowName": "@{workflow()?['tags']?['flowDisplayName']}",
                    "failedAction": "Run Desktop Flow From Cloud Flow",
                    "failureMessage": "@{body('Run_a_flow_built_with_Power_Automate_for_desktop')?['error']?['details']}",
                    "flowRunURL": "@{concat('https://make.powerautomate.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}",
                    "LogFilePath": "@{variables('LogFilePath')}"
                  },
                  "clientEmailContent": {}
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Log_Text_-_21": {
              "runAfter": {
                "Run_a_flow_built_with_Power_Automate_for_desktop": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Error",
                  "@variables('LogTextColNames')?[4]": "Desktop Flow Run Completed"
                }
              }
            },
            "Log_Text_-_23": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "LogText",
                "value": {
                  "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                  "@variables('LogTextColNames')?[1]": "Cloud Flow",
                  "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                  "@variables('LogTextColNames')?[3]": "Info",
                  "@variables('LogTextColNames')?[4]": "Desktop Flow Run Started"
                }
              }
            }
          },
          "runAfter": {
            "Create_file_LogText_on_OneDrive_-_For_Desktop_Flow": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Send_Email_-_Support_-_Error_In_Desktop_Flow": {
          "runAfter": {
            "GET_Desktop_Flow_Call_Error_Details": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "uri": "@body('Get_Config_Data')?['EmailTriggerURL']",
            "method": "POST",
            "body": {
              "emailtype": "support",
              "flowtype": "cloud flow",
              "supportEmailContent": {
                "flowName": "@{workflow()?['tags']?['flowDisplayName']}",
                "failedAction": "@{body('GET_Desktop_Flow_Call_Error_Details')?[0]?['name']}",
                "failureMessage": "@{body('GET_Desktop_Flow_Call_Error_Details')?[0]?['error']?['message']}",
                "flowRunURL": "@{concat('https://make.powerautomate.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}",
                "LogFilePath": "@{variables('LogFilePath')}"
              },
              "clientEmailContent": {}
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Initialize_variable_InvoiceOnSMS": {
          "runAfter": {
            "Initialize_variable_IsContractor": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InvoiceOnSMS",
                "type": "boolean",
                "value": true
              }
            ]
          }
        },
        "Initialize_variable_InvoiceOnEmail": {
          "runAfter": {
            "Initialize_variable_InvoiceOnSMS": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InvoiceOnEmail",
                "type": "boolean",
                "value": true
              }
            ]
          }
        },
        "Debug_Mode_Check": {
          "actions": {
            "If_Debug_Mode_is_Active": {
              "actions": {
                "Condition_For_Name_Check": {
                  "actions": {
                    "Log_Text_-_5": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "LogText",
                        "value": {
                          "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                          "@variables('LogTextColNames')?[1]": "Cloud Flow",
                          "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                          "@variables('LogTextColNames')?[3]": "Info",
                          "@variables('LogTextColNames')?[4]": "Name Check Condition - True"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Log_Text_-_3": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Terminate_and_cancel_the_flow_run": {
                        "runAfter": {
                          "Log_Text_-_6": [
                            "Succeeded"
                          ]
                        },
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Cancelled"
                        }
                      },
                      "Log_Text_-_6": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "LogText",
                          "value": {
                            "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                            "@variables('LogTextColNames')?[1]": "Cloud Flow",
                            "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                            "@variables('LogTextColNames')?[3]": "Info",
                            "@variables('LogTextColNames')?[4]": "Name Check Condition - False, Terminating The Flow"
                          }
                        }
                      },
                      "Log_Text_-_7": {
                        "runAfter": {
                          "Terminate_and_cancel_the_flow_run": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "LogText",
                          "value": {
                            "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                            "@variables('LogTextColNames')?[1]": "Cloud Flow",
                            "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                            "@variables('LogTextColNames')?[3]": "Info",
                            "@variables('LogTextColNames')?[4]": "Flow Terminated with status Cancelled. Debug Condition Failed for Name Check"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@trim(toLower(triggerBody()?['TitleReportPage']?['CustomerFirstName']))",
                          "@trim(toLower(body('Get_Config_Data')?['FirstName']))"
                        ]
                      },
                      {
                        "equals": [
                          "@trim(toLower(triggerBody()?['TitleReportPage']?['CustomerLastName']))",
                          "@trim(toLower(body('Get_Config_Data')?['LastName']))"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Log_Text_-_3": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LogText",
                    "value": {
                      "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                      "@variables('LogTextColNames')?[1]": "Cloud Flow",
                      "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                      "@variables('LogTextColNames')?[3]": "Info",
                      "@variables('LogTextColNames')?[4]": "Debug Mode condition - True"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Log_Text_-_4": {
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "LogText",
                      "value": {
                        "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
                        "@variables('LogTextColNames')?[1]": "Cloud Flow",
                        "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
                        "@variables('LogTextColNames')?[3]": "Info",
                        "@variables('LogTextColNames')?[4]": "Debug Mode condition - False"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@int(body('Get_Config_Data')?['DebugMode'])",
                      1
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Log_Text_-_2": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Get_Config_Data": {
          "runAfter": {
            "Log_Text_-_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "E550BD3B3E47E33!118": "/Config/ConfigMain.xlsx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "file": "E550BD3B3E47E33!118",
              "table": "{D8F8E528-D7CC-49F8-8901-5E4A0AD13480}",
              "idColumn": "ID",
              "id": "919295"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonline",
              "operationId": "GetItem",
              "connectionName": "shared_excelonline"
            }
          }
        },
        "Initialize_variable_LogFilePath": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LogFilePath",
                "type": "string",
                "value": "@concat('/Logs/Report Signed/',triggerBody()?['ProjectIdDisplay'],'_',formatDateTime(utcNow(), 'yyyy_MM_dd_T_HH_mm_ss'), '_LogText.csv')"
              }
            ]
          }
        },
        "Initialize_variable_LogTextColNames": {
          "runAfter": {
            "Initialize_variable_LogFilePath": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LogTextColNames",
                "type": "array",
                "value": [
                  "DateTime",
                  "FlowType",
                  "FlowName",
                  "Level",
                  "Message"
                ]
              }
            ]
          }
        },
        "Initialize_variable_LogText": {
          "runAfter": {
            "Initialize_variable_LogTextColNames": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LogText",
                "type": "array"
              }
            ]
          }
        },
        "Log_Started": {
          "runAfter": {
            "Initialize_variable_LogText": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "LogText",
            "value": {
              "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
              "@variables('LogTextColNames')?[1]": "Cloud Flow",
              "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
              "@variables('LogTextColNames')?[3]": "Info",
              "@variables('LogTextColNames')?[4]": "Update SignedReportDetails Flow Started"
            }
          }
        },
        "Log_Text_-_Config_Read_Failed": {
          "runAfter": {
            "Get_Config_Data": [
              "TimedOut",
              "Failed"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "LogText",
            "value": {
              "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
              "@variables('LogTextColNames')?[1]": "Cloud Flow",
              "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
              "@variables('LogTextColNames')?[3]": "Error",
              "@variables('LogTextColNames')?[4]": "Reading Config File Failed"
            }
          }
        },
        "Create_CSV_table-Config_Read_Failure": {
          "runAfter": {
            "Log_Text_-_Config_Read_Failed": [
              "Succeeded"
            ]
          },
          "type": "Table",
          "inputs": {
            "from": "@variables('LogText')",
            "format": "CSV"
          }
        },
        "Create_file_LogText_on_OneDrive-Config_Read_Failure": {
          "runAfter": {
            "Create_CSV_table-Config_Read_Failure": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "folderPath": "/Logs/Report Signed",
              "name": "@substring(variables('LogFilePath'), add(lastIndexOf(variables('LogFilePath'), '/'),1))",
              "body": "@body('Create_CSV_table-Config_Read_Failure')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
              "operationId": "CreateFile",
              "connectionName": "shared_onedrive"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Log_Text_-_2": {
          "runAfter": {
            "Get_Config_Data": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "LogText",
            "value": {
              "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
              "@variables('LogTextColNames')?[1]": "Cloud Flow",
              "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
              "@variables('LogTextColNames')?[3]": "Info",
              "@variables('LogTextColNames')?[4]": "Config Details Read Successfully"
            }
          }
        },
        "Log_Text_-_1": {
          "runAfter": {
            "Log_Started": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "LogText",
            "value": {
              "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
              "@variables('LogTextColNames')?[1]": "Cloud Flow",
              "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
              "@variables('LogTextColNames')?[3]": "Info",
              "@variables('LogTextColNames')?[4]": "Reading Config Details Started"
            }
          }
        },
        "Create_CSV_table_-_Store_on_OneDrive": {
          "runAfter": {
            "Log_Text_-_20": [
              "Succeeded"
            ]
          },
          "type": "Table",
          "inputs": {
            "from": "@variables('LogText')",
            "format": "CSV"
          }
        },
        "Create_file_LogText_on_OneDrive_-_For_Desktop_Flow": {
          "runAfter": {
            "Create_CSV_table_-_Store_on_OneDrive": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "folderPath": "/Logs/Report Signed",
              "name": "@substring(variables('LogFilePath'), add(lastIndexOf(variables('LogFilePath'), '/'),1))",
              "body": "@body('Create_CSV_table_-_Store_on_OneDrive')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive",
              "operationId": "CreateFile",
              "connectionName": "shared_onedrive"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "GET_Desktop_Flow_Call_Error_Details": {
          "runAfter": {
            "Call_Desktop_flow": [
              "TimedOut",
              "Failed"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@result('Call_Desktop_Flow')",
            "where": "@equals(equals(item()?['status'], 'Failed'),true)"
          }
        },
        "Log_Text_-_20": {
          "runAfter": {
            "Parse_And_Store_Signed_Option_From_Report": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "LogText",
            "value": {
              "@variables('LogTextColNames')?[0]": "@formatDateTime(utcNow(), 'dd-MM-yyyy hh:mm:ss')",
              "@variables('LogTextColNames')?[1]": "Cloud Flow",
              "@variables('LogTextColNames')?[2]": "@{workflow()?['tags']?['flowDisplayName']}",
              "@variables('LogTextColNames')?[3]": "Info",
              "@variables('LogTextColNames')?[4]": "Saving Logfile to OneDrive and calling desktop flow"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}